*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#section_1{
    background-image: url('../image/table.jpg');
    background-size: cover;
    width: 100%;
    height: 650px;
    /* background-position: center; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    display: flex;

}
#left{
    background-image: url('../image/Table3.png');
    background-size: cover;
    width: 40%;
    height: 650px;
}
#right{
    
    width: 60%;
    height: 650px;
}
#av_container{
    display: flex;
    justify-content:space-around ;
    /* flex-direction: row; */
}
#available{
    border-radius: 50%;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

   input{
    width:60%;
    margin:12px auto ;
    padding:10px; 
    font-size: 15px;
    border :2px solid black;
    border-radius: 6px;
    outline:none;
 
   }
   #fm
   {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   h1{
    font-size: 35px;
    color: white;
   }
   .button{
    color:rgb(227, 220, 220);
    background: rgb(45, 7, 45);
    padding:8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
    width:20%;
    
   }
   .bg{
    width:100%;
    position:absolute;
    z-index: -1;
    opacity:0.5;
    height:630px;
   }
   p{
    color:rgb(22, 20, 20);
    font-size: 25px;
   }
   #id{
    width:50%;
   }
   a{
    text-decoration: none;
   }
   .bt{
    float: left;
    height:630px;
    width:40%;
   }